*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    
}
.container{
    background-color:  hsl(216, 50%, 16%);
    padding: 15px;
    border-radius: 18px;
    width: 300px;

}
.container >  img {

    width: 100%;
    border-radius: 10px;
}
.text1{
    font-size: 18px;
    color: white;
    margin: 17px 0;
}
.text2{
    color:  hsl(0, 6%, 73%);
}
.twoimages{
    display: flex;
    justify-content: space-between;
    margin: 17px 0;
    border-bottom: 1px solid  hsl(0, 0%, 100%);
    
}
.text3{
    margin-bottom: 10px;
}
.span1{
    color: hsl(178, 100%, 50%);
}
.span2{
    color:  hsl(215, 51%, 70%);
}
.lastimage {
    width: 15%;
    
}
.footer{
    display: flex;
}

.lastdiv{
    margin-top: 10px;
    margin-left: 10px;
}
.span3{
    color: white;
    
}